* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*BACKGROUND IMAGE home.html*/
#html_home {
    margin: 0px;
    background: url("../images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow-x: hidden;
}

html {
    margin: 0px;
    background-color: #1E1A1D;
    height: 100%;
    background-size: cover;
    overflow-x: hidden;
}

body {
    height: 100%;
}

/*NAV BAR*/

/*LOGO*/

header {
    position: fixed;
    width: 100%;
    z-index: 2;
}

#logo {
    margin-left: 10px;
    width: 30px;
    height: 30px;
}
/*maybe transform logo on hover*/

.navbar {
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1E1A1D;
    top: 0;
}

li {
    list-style: none;
}

.nav_links {
    text-align: center;
    overflow: hidden;
}

.nav_links a {
    color: #EFF7DE;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li a {
    text-decoration: none;
}

/*RESPONSIVE NAVBAR*/
/* CHECKBOX THING */
input[type=checkbox] {
    display: none;
} 

/*HAMBURGER*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* APPLYING MEDIA QUERIES */
/*BIG SCREENS*/
@media screen and (min-width: 769px) {  
    .menu li a {
        display: block;
        text-decoration: none;
        color: #EFF7DE;
        padding: 20px 14px;
        transition: 0.5s;
        font-size: 18px;
        line-height: 22px;
    }

    .menu li a:hover {
        background-color: #EFF7DE;
        font-size: 20px;
        padding: 19px 20px;
        color: #1E1A1D;
    }
}

/*SMALL SCREENS*/
@media screen and (max-width: 768px) {
   .menu { 
        display:none;
        position: absolute;
        background-color: #1E1A1D;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li {
        padding: 5px 14px;
    }

    .menu li:hover {
        display: inline-block;
        background-color:#504c4f;
        border-radius: 5px;
        transition: 0.3s ease;
    }

    .menu li + li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked ~ .menu{
        display: block;
    }
    .hamburger {
        display: block;
    }
}

/*search bar on home.html*/
form {
    margin-top: 0.5%;
}

/*position of home.html content*/
.content {
    position: relative;
    top: 35%;
    left: 10%;
    z-index: 1;
}

/*position of search.html content*/
#content_search {
    top: 20%;
    left: 5%;
    margin-bottom: 50%;
    z-index: 1;
}

/*fonts and colours and sizes*/
#h1_search {
    color: #EFF7DE;
    font-size: 6vh;
}

h1 {
    font-family: "Book Antiqua";
    color: #B7A8FF;
    margin: 0px;
    font-size: 10vh;
}

h2 {
    font-size: 5vh;
    color: #EFF7DE;
    margin-top: 0.5%;
    margin-bottom: 1%;
}

#booktitle {
    color: #E29A79;
    font-size: 4vh;
}

p {
    color: #EFF7DE;
    font-size: 3vh;
}

.book {
    border: 2px;
    border-color: #E29A79;
}

label {
    color: #EFF7DE;
    font-size: 3vh;
}