* {
    padding: 0px;
    box-sizing: border-box;
}

/*background home.html - background image*/
html {
    margin: 0px;
    background: url("../images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow-x: hidden;
}

body {
    height: 100%;
}
/*nav bar*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}

ul li {
    float: right;
}

ul li a:not(.logo) {
    font-family: monospace;
    display: block;
    color: #EFF7DE;
    text-align: center;
    padding: 2vh 2vw;
    text-decoration: none;
    transition: 0.5s;
    font-size: 18px;
    line-height: 20px;
}
  
ul li a:hover:not(.logo){
    background-color: #EFF7DE;
    color: #1E1A1D;
    font-size: 20px;
    padding-right: 3vw;
    padding-left: 3vw;
}

ul li a:active:not(.logo) {
    color: #E29A79;
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

#logo {
    margin: 10px 20px;
    width: 40px;
    height: 40px;
    transition: 0.5s;
}

#logo:hover {
    width: 50px;
    height: 50px;
}

/*search bar on home.html*/
form {
    margin-top: 0.5%;
}

/*position of home.html content*/
.content {
    position: relative;
    top: 30%;
    left: 10%;
}

/*position of search.html content*/
#content_search {
    top: 20%;
    left: 5%;
    margin-bottom: 50%;
}

/*fonts and colours and sizes*/
#h1_search {
    color: #EFF7DE;
    font-size: 6vh;
}

h1 {
    font-family: "Book Antiqua";
    color: #B7A8FF;
    margin: 0px;
    font-size: 10vh;
}

h2 {
    font-size: 5vh;
    color: #EFF7DE;
    margin-top: 0.5%;
    margin-bottom: 1%;
}

#booktitle {
    color: #E29A79;
    font-size: 4vh;
}

p {
    color: #EFF7DE;
    font-size: 3vh;
}

#book {
    border: 2px;
    border-color: #E29A79;
}

/*nav bar for small screens*/

@media screen and (max-width: 600px) {
    ul li a {
      font-size: 14px;
      padding-right: 10px;
      padding-left: 10px;
    }
    ul li a:hover {
        font-size: 16px;
        padding-right: 14px;
        padding-left: 14px;
    }
}

@media screen and (max-height: 400px) {
    ul li a {
        line-height: 15px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
}