{% extends "home.html" %}

{% block background %}<html lang="en">{% endblock %}

{% block title %}500. Internal Server Error{% endblock %}

{% block content%}
    <div class="content">
        <h2>500. Internal Server Error</h2>
        <p>The server encountered an error, and is unable to handle your request.</p>
        <p>Try to refresh this page, or come back in a few minutes.</p>
        <p>Click <a href="/">here</a>, or the logo in the left corner to return to the homepage.</p>
    </div>
{% endblock %}
    