{% extends "home.html" %}
{% block title %}Borrow book {{bookid}}{% endblock %}

{% block content%}
<div class="content">
    <h1>Borrow this book</h1>
    <h2>Enter your details below</h2>
    <div class="form">
        <form action="" method="post">
            <label for="fname">First Name:</label>
            <input type="text" name="fname" placeholder="Type here..." required><br>
            <label for="lname">Last Name:</label>
            <input type="text" name="lname" id="lname" placeholder="Type here..." required><br>
            <label for="phonenum">Phone number:</label>
            <input type="text" name="phonenum" id="phonenum" placeholder="Type here..." required><br>
            <label for="address">Address:</label>
            <input type="text" name="address" id="address" placeholder="Type here..." required><br>
            <label for="email">Email:</label>
            <input type="text" name="email" id="email" placeholder="Type here..." required><br>
            <input type="submit" value="Borrow!">
        </form>
    </div>
</div>
{% endblock %}