{% extends "home.html" %}

{% block background %}<html lang="en">{% endblock %}

{% block title %}Delete a book{% endblock %}

{% block menu%}
<div class="menu">
    <li><a href="/explore">Explore</a></li>
    <li><a href="/add">Add book</a></li>
    <li><a href="/delete" class="active_page">Delete book</a></li>
    <li><a href="/borrowers">Borrowers</a></li>
    <li><a href="/loans">Loans</a></li>
</div>
{% endblock%}

{% block content %}
<div class="content">
    <h2>Remove a book from the database:</h2>
    <p>Warning: this action cannot be undone.</p>

    <div class="form">
        <form action="" method="post">
            <label for="title">ID of book to remove:</label> <br>
            <input type="text" name="remove_id" id="remove_id" placeholder="Type here..."><br>
            <input type="submit" value="DELETE">
        </form>
    </div>
</div>
{% endblock %}
