{% extends "home.html" %}
{% block title %}Explore{% endblock %}

{% block menu%}
<div class="menu">
    <li><a href="/explore" class="active_page">Explore</a></li>
    <li><a href="/add">Add book</a></li>
    <li><a href="/delete">Delete book</a></li>
    <li><a href="/borrowers">Borrowers</a></li>
    <li><a href="/loans">Loans</a></li>
</div>
{% endblock%}

{% block content%}
    <div class="content">
        <h2>Here are all the books in my collection :0</h2>
        {% for book in books %}
        <div class="forloop"> 
            <h3>{{book.title}}</h3>
            <p>Author: {{book.author}}</p>
            <p>Book ID: {{book.bookid}}</p>
            {% if not book.year_published %}
                <p>Year Published: Unknown</p> 
            {% else %}
                <p>{{book.year_published}}</p>
            {% endif %}
            <p>Language: {{book.language}}</p>
            {% if not book.isbn%}
                <p>ISBN: Unknown</p>
            {% else %}
                <p>ISBN: {{book.isbn}}</p>
            {% endif %}
            
            <div id="borrow_button">
                <a href="{{ url_for('borrow', bookid=book.bookid) }}"><button type="button">BORROW</button></a>
            </div>
            
        </div>
        {% endfor %}
    </div>
{% endblock %}