{% extends "home.html" %}
{% block title %}Explore{% endblock %}
{% block content%}
    <div class="content" id="content_search">
        <h1 id="h1_search">Here are all the books in my collection :0</h1>
        {% for book in books %}
        <div> 
            <h2 id="booktitle">{{book.title}}</h2>
            <p>Book ID: {{book.bookid}}</p>
            <p>{{book.author}}</p>
            {% if not book.year_published %}
                <p>Year Published: Unknown</p> 
            {% else %}
                <p>{{book.year_published}}</p>
            {% endif %}
            <p>{{book.language}}</p>
            <p>ISBN: {{book.isbn}}</p>
            <p>Borrow Now!</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}