<!DOCTYPE html>
<html lang="en" id="html_home">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}My library{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="icon" type="image/png" href="../static/images/favicon.png">
    </head>
    <body>
        <header>
            <nav class="navbar">
                <!-- LOGO -->
                <div class="logo">
                    <a class="logo" href="/"><img id="logo" src="../static/images/logo.png" alt="logo"></a>
                </div>
                <ul class="nav_links">
                    <!-- CHECKBOX THING -->
                    <input type="checkbox" id="checkbox_toggle" />
                    <label for="checkbox_toggle" class="hamburger">&#9776;</label>
                    <!-- NAV LINKS -->
                    {% block menu%}
                    <div class="menu">
                        <li><a href="/explore">Explore</a></li>
                        <li><a href="/add">Add book</a></li>
                        <li><a href="/delete">Delete book</a></li>
                        <li><a href="#">Loans</a></li>
                    </div>
                    {% endblock%}
                </ul>
            </nav>
         </header>
        {% block content %}
        <div class="content">
            <h1>My Library</h1>
            <h2>Enter a key word to search for a book!</h2>
            <div class="form">
                <form action="" method="post">
                    <input type="text" name="search" id="search" placeholder="Type here..." required>
                    <input type="submit" value="Search!">
                </form>
            </div>
        </div>
        {% endblock %}
    </body>
</html>