<!DOCTYPE html>
{% block background %}<html lang="en" id="html_home"> {% endblock %}
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}My library{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="icon" type="image/png" href="../static/images/favicon.png">
    </head>
    <body>
        <header>
            <nav class="navbar">
                <!-- LOGO -->
                <div class="logo">
                    <a class="logo" href="/"><img id="logo" src="../static/images/logo.png" alt="my website logo"></a>
                </div>
                <ul class="nav_links">
                    <!-- CHECKBOX THING -->
                    <input type="checkbox" id="checkbox_toggle" />
                    <label for="checkbox_toggle" class="hamburger">&#9776;</label>
                    <!-- NAV LINKS -->
                    {% block menu%}
                    <div class="menu">
                        <li><a href="/explore">Explore</a></li>
                        <li><a href="/add">Add book</a></li>
                        <li><a href="/delete">Delete book</a></li>
                        <li><a href="/borrowers">Borrowers</a></li>
                        <li><a href="/loans">Loans</a></li>
                    </div>
                    {% endblock %}
                </ul>
            </nav>
         </header>
        {% block content %}
        <div class="content" id="content_home">
            <h1>Welcome to my library!</h1>
            <p id="label">Enter a key word to search for a book!</p>
            <div class="form" id="search_container">
                <form action="" method="post">
                    <input type="text" name="search" id="search" placeholder="Search..." required>
                    <button type="submit" id="search_button"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
        {% endblock %}
    </body>
</html>