{% extends "home.html" %}
{% block title %}Explore{% endblock %}

{% block menu%}
<div class="menu">
    <li><a href="/explore">Explore</a></li>
    <li><a href="/add">Add book</a></li>
    <li><a href="/delete">Delete book</a></li>
    <li><a href="/borrowers">Borrowers</a></li>
    <li><a href="/loans" class="active_page">Loans</a></li>
</div>
{% endblock%}

{% block content%}
    <div class="content" id="content_search">
        <h1 id="h1_search">Loans:</h1>
        {% for loan in books_borrowed %}
        <div class="forloop"> 
            <h2 id="booktitle">Loan {{loan.loanid}}</h1>
            <p>Borrower: {{loan.fname}} {{loan.lname}}, ID: {{loan.borrowerid}}</p>
            <p>Book: {{loan.title}}, ID: {{loan.bookid}} </p>
            <p>Loan date: {{loan.loan_date}}</p>
            <p>Return date: {{loan.return_date}}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}
