<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Search results for: {{term}}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="icon" type="image/png" href="../static/images/favicon.png">
    </head>
    <body>
        <header>
            <nav class="navbar">
                <!-- LOGO -->
                <div class="logo">
                    <a class="logo" href="/"><img id="logo" src="../static/images/logo.png" alt="logo"></a>
                </div>
                <ul class="nav_links">
                    <!-- CHECKBOX THING -->
                    <input type="checkbox" id="checkbox_toggle" />
                    <label for="checkbox_toggle" class="hamburger">&#9776;</label>
                    <!-- NAV LINKS -->
                    <div class="menu">
                        <li><a href="/explore">Explore</a></li>
                        <li><a href="/add">Add book</a></li>
                        <li><a href="/delete">Delete book</a></li>
                        <li><a href="/borrow">Borrow?</a></li>
                    </div>
                </ul>
            </nav>
        </header>
        <div class="content" id="content_search">
            <h1 id="h1_search">Here's what we found that matches "{{searchterm}}"</h1>
            {% for book in books %}
            <div class="book"> 
                <h2 id="booktitle">{{book.title}}</h2>
                <p>Book ID: {{book.bookid}}</p>
                <p>{{book.author}}</p>
                {% if not book.year_published %}
                    <p>Year Published: Unknown</p> 
                {% else %}
                    <p>{{book.year_published}}</p>
                {% endif %}
                <p>{{book.language}}</p>
                <p>ISBN: {{book.isbn}}</p>
                <div id="form_borrow">
                    <form action="" method="post">
                        <input type="submit" name="borrow_form" value="Borrow Now!">
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </body>
</html>