<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Search results for: {{term}}</title>
        <link rel="icon" type="image/png" href="../static/images/favicon.png">
    </head>
    <body>
        <h1>here's what we found that matches "{{searchterm}}"</h1>
        {% for book in books %}
        <div> 
            <h2>{{book.title}}</h2>
            <p>{{book.author}}</p>
        </div>
        {% endfor %}
    </body>
</html>